<div class="jumbotron bg-transparent border-0">
  <h1 class="display-3">Hola, {{name}}</h1>
  <img src="{{imgSrc}}" class="rounded-circle" alt="">
  <p class="lead mt-4">Aqui puedes agregar, editar o eliminar tus notas</p>
  <hr class="my-4">
  Tienes {{notes.length}} notas en este momento para revisar<p class="lead">
  </p>
</div>
<div class="row">
    {{#each notes}}
    <div class="col-md-2 mx-2">
        <div class="card bg-{{select}} border-0 shadow-lg">
            <div class="card-body text-dark">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    {{title}} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                </h4>
                <p>{{description}}</p>
                <p><small>{{date}}</small></p>
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger btn-block btn-sm" type="submit">Delete</button></form>
            </div>
        </div>
    </div>
    {{else}}
    <div class="jumbotron">
        <h1 class="display-4">No hay notas</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="/notes/add" role="button">Crea una</a>
    </div>
    {{/each}}
</div>